@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

* {
	font-family: Red Hat Text;
}

body {
	background-color: #fcf8f6;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.025fr;
}

.Box {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(9, 1fr);
}

.Box > button {
	border: 0;
	background: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Name {
	color: #87635a;
	padding: 20px 0px 0px 0px;
	margin: 0;
}

.FullName {
	font-weight: bolder;
	padding: 0;
	margin: 0;
}

.Price {
	color: #c73b0f;
	padding: 0px 0px 40px 0px;
	margin: 0;
}

button > img {
	height: 30vh;
	width: 100%;
	border-radius: 15px;
	object-fit: cover;
	transition: 1s;
}

button {
	border-radius: 15px;
	transition: 0.25s;
}

button:hover {
	box-shadow: 0px 30px 75px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 30px 75px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 30px 75px 0px rgba(0, 0, 0, 0.75);
	background-color: #f0e3de;
}

.Cart {
	background-color: white;
	border-radius: 15px;
	height: 100%;
	padding: 15px;
}

.Cart > h1 {
	color: #c73b0f;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button > .center {
	width: 100%;
}

@media screen and (min-width: 700px) {
	.Box {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1000px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.Cart {
		height: 30%;
	}
}
